<nav class="navbar">
    <div class="nav-container">
        <div class="nav-left">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="Logo">
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li class="dropdown">
                    <a href="#">Options ▾</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('options') }}">Option 1</a></li>
                        <li><a href="{{ url_for('options') }}">Option 2</a></li>
                        <li><a href="{{ url_for('options') }}">Option 3</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
                <li><a href="{{ url_for('contactus') }}">Contact Us</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
        </div>
    </div>
</nav>
